<%= content_tag :h1, 'Check Postcode'  %>
<%= form_with url: '/perform', autocomplete: "off" do |f| %>
  <div class="row form-group">
    <div class="col-lg-4" style="position: relative;">
      <%= f.text_field :string, required: true, class: 'form-control', autocomplete: 'off' %>
    </div>
    <div class="col-lg-4">
      <%= f.submit 'Check Postcode', class: 'form-control btn btn-success' %>
    </div
  </div>
<% end %>
