<div style="margin-top: 2em;">
  <%= link_to_unless_current 'Check postcode', checking_path %> |
  <%= link_to_unless_current 'Allowed postcodes', postcodes_path %> |
  <%= link_to_unless_current 'Allowed districts', districts_path %>
</div>
